NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_CHALLENGE_SECRET=
# Use * to relase all courses
NEXT_PUBLIC_RELEASED_COURSES=*
# Use * to release all challenges
NEXT_PUBLIC_RELEASED_CHALLENGES=*
CERTIFICATION_MINTER_PROGRAM_ID=shftxrF75jt6u1nXCkkiarjwz4ENqm1tnummZZuBrDp
NEXT_PUBLIC_RPC_ENDPOINT=
NEXT_PUBLIC_TWITTER_LINK=https://x.com/blueshift_gg
NEXT_PUBLIC_GITHUB_LINK=https://github.com/blueshift-gg
NEXT_PUBLIC_DISCORD_LINK=https://discord.gg/blueshift